body{
    background-color: antiquewhite;
}

.container{
    background-color: CornflowerBlue;
    flex-direction: row;
}

.box{
    background: rgb(168,150,219);
    background: linear-gradient(180deg, rgba(168,150,219,1) 0%, rgba(69,137,195,1) 45%, rgba(101,201,116,1) 97%);
    border: 0.2rem solid black;
    display: inline-block;
    margin: 2rem;
    padding: 1rem;
}
p{
    font-size: 1.2rem;
}
.diseno {
    height: 4rem;
    font-size: 3rem;
    border-radius: 1rem;
}

button.active:active{
    color: blue;
    width: 10rem;
    height: 4.2rem;
}

input.disabled:disabled {
    background: #ccc;
}

input.focus:focus {
    background-color: rgb(0, 162, 255);
  }

.hover:hover {
    background-color: blueviolet;
}

.link:link {
    background-color: gold;
    color: green;
}
.after::after {
    content: " Here! after";
    color: rgb(250, 128, 128);
}
.before::before {
    content: " Here! before";
    color: rgb(250, 128, 128);
}
.first-letter::first-letter {
    font-size: 5rem;
    color: red;
}
.first-line::first-line {
    font-size: 5rem;
    color: red;
}

.placeholder::placeholder {
    color: red;
    font-size: 0.7em;
    font-style: italic;
}
